<!doctype html>
<html>

<head>
    <title>Made you look</title>
</head>

<body>
    <strong>Look up</strong>
    
    
    <div id="container">
        <canvas id="canvasOutput"></canvas>
        <video autoplay="true" id="videoElement"></video>
    </div>
    
    <div class = 'video'>
        <img id="image">
    </div>
            
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script>
        var videoId = 'video';
        var scaleFactor = 0.25;
        var snapshots = [];
        
        /**
        * Captures a image frame from the provided video element.
        *
        * @param {Video} video HTML5 video element from where the image frame will be captured.
        * @param {Number} scaleFactor Factor to scale the canvas element that will be return. This is an optional parameter.
        *
        * @return {Canvas}
        */
        function capture(video, scaleFactor) {
            if(scaleFactor == null){
                scaleFactor = 1;
            }
            var w = video.videoWidth * scaleFactor;
            var h = video.videoHeight * scaleFactor;
            var canvas = document.createElement('canvas');
                canvas.width  = w;
                canvas.height = h;
            var ctx = canvas.getContext('2d');
                ctx.drawImage(video, 0, 0, w, h);
            return canvas;
        } 
        
        /**
        * Invokes the <code>capture</code> function and attaches the canvas element to the DOM.
        */
        function shoot(){
            var video  = document.getElementById(videoId);
            var output = document.getElementById('output');
            var canvas = capture(video, scaleFactor);
                canvas.onclick = function(){
                    window.open(this.toDataURL());
                };
            snapshots.unshift(canvas);
            output.innerHTML = '';
            for(var i=0; i<4; i++){
                output.appendChild(snapshots[i]);
            }
        }

        /**
        * original
        */
        var socket = io('http://127.0.0.1:5000');

        socket.on('connect', function(){
            console.log("new socket connected...!", socket.connected);
            socket.send('new socket connected...!');
        });

        const video = document.querySelector("#videoElement");

        video.width = 500; 
        video.height = 375; ;

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err0r) {
                console.log(err0r)
                console.log("Something went wrong!");
            });
        }

        // let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
        // let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
        // let cap = new cv.VideoCapture(video);

        const FPS = 22;

        setInterval(() => {
            // cap.read(src);

            // console.log("getting image");

            var type = "image/png"
            // var data = document.getElementById("canvasOutput").toDataURL(type);
            // data = data.replace('data:' + type + ';base64,', ''); //split off junk at the beginning

            var video_element = document.getElementById("videoElement")
            var frame = capture(video_element, 1)
            var data = frame.toDataURL(type);
            

            socket.emit('image', data);
        }, 10000/FPS);


        socket.on('response_back', function(image){
            const image_id = document.getElementById('image');
            image_id.src = image;
        });

    </script>
</body>
</html>